.send-message-container {
  display: flex;
  flex: 1;
  gap: 20px;
  width: 100%;
}
.send-message-container1 {

  height: 76%;
  gap: 20px;
  width: 90%;
  margin-left: 15px;
  margin-bottom: -40px;
  background-color: #ffffff;
}

.users-list {
  margin-left: 35px; 
  flex: 1;
  width: 80px;
  background-color: #ced0ff;
  padding: 0px;
  border-radius: 5px;
  height: 84vh; /* Fixed typo here */
  overflow-y: auto;
}

.users-list h3 {
  margin-bottom: 10px;
}

.users-list ul {
  list-style-type: none;
  padding: 0;
}

.users-list li {
  padding: 8px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.users-list li.selected {
  background-color: #4caf50;
  color: white;
}

.users-list li:hover {
  background-color: #dcdcdc;
}

.users-list input {
  font-size: 15px;
  width: calc(100% - 80px);
  height: 20px;
  padding: 8px;
  margin: 30px 0;
  border: 1px solid #ddd;
  border-radius: 20px;
}

.users-list button {
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.users-list button:hover {
  background-color: #45a049;
}

.chat-box {
  flex: 3;
  margin-top: -100px;
  background-color: #ced0ff;
  border-radius: 5px;
  height: 100vh;
  overflow-y:auto;
}

.chat-box h3 {
  margin-bottom: 10px;
}

.chat-box .messages {
  height: 80%;
  overflow-y: auto;
  background-color: #ffffff;
  border: 1px solid #ddd;
  padding: 10px;
  box-shadow: #f1f0f0;
  border-radius: 15px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 95%;
  margin-left: 1.5%;
  align-self: flex-start;

}

.chat-box input {
  width: calc(100% - 110px);
  padding: 8px;
  margin-right: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.chat-box button {
  padding: 8px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-box button:hover {
  background-color: #45a049;
}

/* Message alignment */
.message {
  padding: 10px;
  border-radius: 10px;
  max-width:70%;
  word-wrap: break-word;
  display: inline-block;
 
}

.sent {
  background-color: #dcf8c6; /* Light green for sent messages */
  align-self: flex-end; /* Align to the right */
}

.received {
  background-color: #f1f0f0; /* Light gray for received messages */
  align-self: flex-start; /* Align to the left */
}
